.first-scene .bg {
	background-image: url(bg1.jpg);
}

.second-scene .bg {
	background-image: url(bg2.jpg);
}

.line.ron,
.character-name.ron {
	color: #ddba00;
}

.line.malfoy,
.character-name.malfoy {
	color: #5fffdb;
}